#main {
	float: left;
	margin-top: 20px;
}

aside {
	float: left;
	margin-top: 20px;
}

#course {
	float: left;
	width: 90%;
}

.course {
	width: 100%;
	margin-bottom: 10px;
	float: left;
	font-family: 'Roboto Slab', serif;
	font-size: 1.2em;
	color: #646464;
}

.course>img {
	border: 2px solid #dfdfdf;
	border-radius: 5px;
	width: 35%;
	float: left;
	margin-right: 10px;
}

.course>span.txt {
	float: right;
	font-weight: bold;
	color: rgba(236, 101, 80, 1);
}

#course>a>div.btn {
	float: left;
	margin-left: 30%;
}

#one_course {
	float: left;
	margin-top: 10px;
}

#one_course>img {
	width: 80%;
	float: left;
}

.heading {
	font-weight: lighter;
	font-size: 1.4em;
	font-family: 'Roboto Slab', serif;
	border-bottom: 2px solid #db6e6e;
	float: left;
	color: 4f4f4f;
	padding: 0px 5px;
}

.heading:first-letter {
	color: #db6e6e;
}

#news {
	float: left;
}

.article {
	width: 40%;
	float: left;
	margin-right: 10%;
	margin-botton: 20px;
	border: 1px solid #e3e3e3;
	background-color: #fff;
	box-sizing: border-box;
	max-wight: 350;
	border-radius: 5px;
}

.article>img {
	border-radius: 5px 5px 0 0;
	width: 100%;
	height: 200px;
}

.article span {
	font-family: 'Roboto Slab', serif;
	font-size: 1.3em;
	width: 80%;
	margin: 7px 10%;
	float: left;
	text-align: center;
	color: #333;
}

#news>a>.btn {
	margin-botton: 20px;
	float: left;
	margin-left: 30%;
}

@media (min-width: 1386px) {
	#main {
		width: 60%;
		margin-left: 3%;
	}
	aside {
		width: 30%;
		margin-left: 2%;
	}
	#one_course > img {
		width: 90%;
	}
	#course > a > div.btn {
		float: right;
		margin-right: 0%;
	}
	#news {
		margin-left: 10%;
		width: 90%;
	}
	#news > a > .btn {
		float: right;
		margin-right: 10%;
	}
}

@media (max-width: 1385px) and (min-width: 929px) {
	#main {
		width: 70%;
		margin-left: 15%;
	}
	aside {
		width: 67.5%;
		margin-left: 17.5%;
	}
		
	#one_course > img {
		width: 90%;
	}
	#course > a > div.btn {
		float: right;
		margin-right: 0%;
	}
	#news {
		margin-left: 4%;
		width: 96%;
	}
	#news > a > .btn {
		float: right;
		margin-right: 10%;
	}
}

@media (max-width: 928px) and (min-width: 671px) {
	#main {
		width: 95%;
		margin-left: 7%;
	}
	#news > a > .btn {
		float: right;
		margin-right: 10%;
	}
	aside {
		margin-left: 10%;
		width: 92%;
	}
	#course > a > div.btn {
		float: right;
		margin-right: 0%;
	}
	#news {
		margin-left: 4%;
		width: 96%;
	}
	#one_course > img {
		width: 90%;
	}
}

@media (max-width: 670px) and (min-width: 630px) {
	#main {
		width: 90%;
		margin-left: 7%;
	}
	aside {
		margin-left: 10%;
	}
	#news {
		margin-left: 4%;
		width: 96%;
	}
	#one_course > img {
		width: 90%;
	}
	#course > a > div.btn {
		float: right;
		margin-right: auto;
	}
	#news > a > .btn {
		float: right;
		margin-right: 7%;
	}
	.article {
		width: 93%;
	}
}

@media (max-width: 629px) and (min-width: 501px) {
	#main {
		width: 90%;
		margin-left: 7%;
	}
	aside {
		margin-left: 10%;
	}
	#news {
		margin-left: 4%;
		width: 96%;
	}
	#one_course > img {
		width: 90%;
	}
	#course > a > div.btn {
		float: right;
		margin-right: auto;
	}
	#news > a > .btn {
		float: right;
		margin-right: 7%;
	}
	.article {
		width: 93%;
	}
	.course>span.txt1 {
		float: right;
	}
	.course>img {
		width: 40%;
	}
}

@media (max-width: 500px) and (min-width: 390px) {
	#main {
		width: 90%;
		margin-left: 7%;
	}
	aside {
		margin-left: 10%;
	}
	#news {
		margin-left: 4%;
		width: 96%;
	}
	#one_course > img {
		width: 90%;
	}
	#course > a > div.btn {
		float: right;
		margin-right: auto;
	}
	#news > a > .btn {
		float: right;
		margin-right: 7%;
	}
	.article {
		width: 93%;
	}
	.course>img {
		width: 100%;
	}
}

@media (max-width: 389px) {
	#main {
		width: 90%;
		margin-left: 7%;
	}
	aside {
		margin-left: 10%;
	}
	#news {
		margin-left: 4%;
		width: 96%;
	}
	#one_course > img {
		width: 90%;
	}
	#course > a > div.btn {
		float: right;
		margin-right: auto;
	}
	#news > a > .btn {
		float: right;
		margin-right: 7%;
	}
	.article {
		width: 93%;
	}
	.course>img {
		width: 100%;
	}
	.course>span.txt1 {
		float: right;
	}
}

@media (min-width: 1890px) {
	.course>span.txt1 {
		float: right;
	}
	.course>img {
		width: 50%;
	}
	.course>span.txt {
		margin-right: %;
	}
}

@media (max-width: 1889px) and (min-width: 1502px) {
	.course>img {
		width: 40%;
	}
	.course>span.txt1 {
		float: right;
	}
}

@media (max-width: 1501px) and (min-width: 1386px) {
	.course>img {
		width: 35%;
	}
	.course>span.txt1 {
		float: right;
	}
}

/* Нижняя часть сайта */

#subscribe {
	text-align: left;
	margin-bottom: 20px;
	width: 50%;
	float: left;
}

#subscribe>span {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	color: 434343;
	margin-left: 9%;
}

#vk_groups {	
	margin-left: 9%;
}

#sub_to_project {
	float: left;
	text-align: left;
	margin-bottom: 20px;
	width: 50%
}

@media (max-width: 1385px) and (min-width: 929px) {
	#vk_groups {
		margin-left: 17.5%;
	}
}

@media (max-width: 928px) and (min-width: 671px) {
	#vk_groups {
		margin-left: 10%;
	}
}

@media (max-width: 670px) and (min-width: 630px) {
	#vk_groups {
		margin-left: 10%;
	}
}

@media (max-width: 629px) {
	#vk_groups {
		visibility: hidden;
		display: none;
	}
}

/* Clone test ### */